:root {
  --font-stack: Helvetica, sans-serif;
}

body {
  font: 100% var(--font-stack);
  background-color: #fffaff;
}

h1 {
  text-align: center;
  color: grey;
  font-size: 32pt;
}

div.dropzone {
  border: 3px dashed darkorange;
  text-align: center;
  padding-top: 20pt;
  padding-bottom: 20pt;
  font-weight: bold;
  font-size: 14pt;
  color: burlywood;
  margin: 20pt 40pt 20pt 40pt;
}

div.dropzone :drop {
  background-color: blue;
}

.record {
  margin-bottom: 10pt;
  margin-left: 10pt;
  margin-top: 5pt;
}

.record > .title {
  color: #6b5b95;
  font-weight: bold;
  font-size: 14pt;
}

.record .record > .title {
  color: #feb236;
  font-size: 12pt;
}

.record .record .record > .title {
  color: #d64161;
  font-size: 10pt;
}

.record .record .record .record > .title {
  color: #ff7b25;
  font-size: 10pt;
}

.record > .fields {
  display: flex;
  padding-left: 15pt;
  padding-top: 5pt;
}

.record > .fields > .field {
  font-size: 11pt;
  margin-right: 30pt;
}

.record .field > .name {
  font-weight: bold;
  margin: 0pt;
  font-size: 9pt;
  color: grey;
}

.record .field > .value {
  margin: 3pt 2pt 3pt 0pt;
}
