:root {
  --font-stack: Helvetica, sans-serif;
  --border-radius: 10pt;
}

body {
  font: 100% var(--font-stack);
  background-color: #fffaff;
}

h1 {
  text-align: center;
  color: grey;
  font-size: 32pt;
}

div.dropzone {
  border: 3px dashed darkorange;
  text-align: center;
  padding-top: 20pt;
  padding-bottom: 20pt;
  font-weight: bold;
  font-size: 14pt;
  color: burlywood;
  margin: 20pt 40pt 20pt 40pt;
}

div.dropzone :drop {
  background-color: blue;
}

.record {
  margin-bottom: 10pt;
  margin-left: 10pt;
  margin-top: 5pt;
  border: 1px solid grey;
  border-radius: var(--border-radius);
}

.record .error {
  border: 2px solid red;
}

.record .warning {
  border: 2px solid yellow;
}

.record > .title {
  color: #6b5b95;
  font-weight: bold;
  font-size: 12pt;
  border-radius: var(--border-radius) var(--border-radius) 0pt 0pt;
  padding: 5pt;
  border-bottom: 1px solid grey;
  background-color: #dbdbf5;
}

.record > .expandable {
  font-size: 9pt;
  border-radius: 0pt 0pt var(--border-radius) var(--border-radius);
  padding: 3pt;
  border-top: 1px dashed grey;
  text-align: center;
  cursor: grab;
  font-size: 9pt;
  font-weight: bold;
  background-color: cornsilk;
}

.record > .expandable:hover {
  background-color: pink;
}

.record > .collapse {
  font-size: 9pt;
  border-radius: 0pt 0pt var(--border-radius) var(--border-radius);
  padding: 3pt;
  border-top: 1px dashed grey;
  text-align: center;
  cursor: grab;
  font-size: 9pt;
  font-weight: bold;
  background-color: lightcoral;
}

.record > .collapse:hover {
  background-color: pink;
}

.record .record > .title {
  color: #feb236;
  font-size: 11pt;
  background-color: #fFf2d6;
}

.record .record .record {
  border-radius: 5pt;
}

.record .record .record > .title {
  color: #d64161;
  font-size: 10pt;
  background-color: #ffe1e1;
  border-radius: 5pt 5pt 0pt 0pt;
  padding: 3pt;
}

.record .record .record .record {
  border: 0;
  border-radius: 0;
}

.record .record .record .record > .title {
  border: 0;
  color: #ff7b25;
  font-size: 10pt;
  padding: 0;
  background-color: transparent;
  border-radius: 0;
}

.record .error > .msg {
  padding: 5pt;
  margin: 5pt;
  background-color: lavenderblush;
}

.record .warning > .msg {
  padding: 5pt;
  margin: 5pt;
  background-color: cornsilk;
}

.record > .fields {
  display: flex;
  padding-left: 15pt;
  padding-top: 5pt;
  margin-bottom: 3pt;
}

.record > .fields > .field {
  font-size: 11pt;
  margin-right: 30pt;
}

.record .field > .name {
  font-weight: bold;
  margin: 0pt;
  font-size: 9pt;
  color: grey;
}

.record .field > .value {
  margin: 3pt 2pt 3pt 0pt;
}
